* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '_fonts.scss';
@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';
@import '_praxis.scss';

body {
    font-family: 'GlacialIndifference', sans-serif;
    font-style: normal;

    &.noScroll {
        overflow: hidden;
    }
}

button {
    outline: none;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
    display: flex;
}

ul{
    display: flex; 
}

p {
    font-size: 14px;
    line-height: 140%;
    color: #002340;

     @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 160%;
     }
}

h1 {
    color: #fff;
    margin: 0;
    font-family: Funky Signature;
    font-size: 25px;
    line-height: 30px;

    @media screen and (min-width: 520px) {
        font-size: 28px;
        line-height: 36px;
    }

    @media screen and (min-width: 720px) {
        font-size: 34px;
        line-height: 42px;
    }

    @media screen and (min-width: 920px) {
        font-size: 40px;
        line-height: 49px;
    }

    @media screen and (min-width: 1120px) {
        font-size: 46px;
        line-height: 56px;
    }

    @media screen and (min-width: 1320px) {
        font-size: 52px;
        line-height: 63px;
    }

    @media screen and (min-width: 1520px) {
        font-size: 58px;
        line-height: 70px;
    }

    @media screen and (min-width: 1720px) {
        font-size: 64px;
        line-height: 77px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 70px;
        line-height: 84px;
    }
}

h2 {
    font-size: 20px;
    line-height: 24px;
    color: #002340;

    @media screen and (min-width: 520px) {
        font-size: 26px;
        line-height: 29px;
    }

    @media screen and (min-width: 720px) {
        font-size: 28px;
        line-height: 34px;
    }

    @media screen and (min-width: 920px) {
        font-size: 30px;
        line-height: 38px;
    }

    @media screen and (min-width: 1120px) {
        font-size: 33px;
        line-height: 42px;
    }

    @media screen and (min-width: 1320px) {
        font-size: 36px;
        line-height: 45px;
    }

    @media screen and (min-width: 1520px) {
        font-size: 39px;
        line-height: 48px;
    }

    @media screen and (min-width: 1720px) {
        font-size: 42px;
        line-height: 51px;
    }

    @media screen and (min-width: 1920px) {
        font-size: 45px;
        line-height: 54px;
    }
}

h3 {
    font-size: 16px;
    line-height: 19px;
    color: #002340;

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
     }
}

h4 {
    font-size: 14px;
    line-height: 17px;

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
     }
}
 
img {
    display: block;
}

.section {
    padding-left: 20px; 
    padding-right: 20px;

    @media screen and (min-width: 1024px) {
        padding-left: 175px; 
        padding-right: 175px;
    }
}

#map {
    width: 100%;
    height: 320px;

    @media screen and (min-width: 1024px) {
        height: auto;
        width: 50%;
    }
}

.menu__desktop {
    width: 100%;
    height: 100%;
    background: #002340;
    position: fixed;
    visibility: hidden;
    top: -100%;
    opacity: 0;
    z-index: 105;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all .5s;

    @media screen and (max-width: 1024px) {
        display: none;
    }
    
    img {
        position: absolute;
        right: 0;
        opacity: 0.2;
        bottom: 0;
    }
    
    &.active {
        opacity: 1;
        visibility: visible;
        // transition: all .5s;
        top: 0;
    }

    > ul {
        display: block;
        margin-left: 100px;

        > li {
            transition: all 0.5s;

            &:hover {
                margin-left: 10px;
            }

            a {
                font-weight: bold;
                font-size: 70px;
                line-height: 84px;
                color: #fff;
            }
        }
    }

    .withSub {
        &:hover {
            .sub-menu {
                left: 360px;
                bottom: calc((100% - 400px)/2);
                opacity: 1;
                visibility: visible;
                padding-left: 350px;

                @media screen and (min-width: 1024px) {
                    padding-left: 400px;
                }

                @media screen and (min-width: 1200px) {
                    padding-left: 500px;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            svg {
                margin-left: 50px;
                margin-top: 10px;
                width: 30px;
            }
        }
    }

    .sub-menu{
        position: absolute;
        display: block;
        transition: opacity 0.5s;
        opacity: 0;
        visibility: hidden;

            li { 
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 20px;
                    line-height: 24px;
                    color: #fff;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    }

    .close_menu {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        background: #57ABF5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
    }
}

.menu__phone {
    width: 100%;
    height: 100%;
    background: #002340;
    position: fixed;
    visibility: hidden;
    left: -100%;
    opacity: 0;
    z-index: 105;
    overflow: hidden;
    transition: all .5s;

    &_holder {
        padding-right: 50px;
        padding-left: 50px;
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }
    
    img {
        position: absolute;
        right: 0;
        opacity: 0.2;
        bottom: calc((100% - 325px)/2);
    }
    
    &.active {
        opacity: 1;
        visibility: visible;
        // transition: all .5s;
        left: 0;
    }

    .menu_acc {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100px;
        right: 20%;
        left: 50px;

        @media screen and (min-width: 1024px) {
            right: 40%;
        }

        .menu__phone_listItem {
            font-size: 25px;
            line-height: 230%;
            font-weight: bold;
            color: #FFFFFF;
        }
    }

    .close_menu {
        width: 30px;
        height: 30px;
        min-width: 30px;
        border-radius: 50%;
        background: #57ABF5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }
}

button.menu_accordion {
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    text-align: left;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
  }
  
  .menu_accordion-content {
     height: 0; 
     overflow: hidden; 
     transition: height 0.2s ease-out; 
  }
  
  .menu_accordion-content.active {
    height: 100%;
    overflow: visible;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  
  button.menu_accordion div .menu_arrow.active {
     transform: rotate(180deg);
  }
  
  button.menu_accordion div .menu_arrow {
    display: inline-block;
    width: 10px;
    transition: transform 0.3s;
  }
  
  button.menu_accordion div {
    margin: auto 0 auto auto;
  }

  .menu_accordion-content{
      ul {
          display: flex;
          flex-direction: column;

          li {
              margin-bottom: 15px;

              &:last-child {
                margin-bottom: 0;
              }

              &:hover {
                  text-decoration: underline;
              }

              a {
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;
              }
          }
      }
  }